# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.depend
*.depend
.DS_Store
*.pbxproj
*.xcuserstate
Cpp-projectV2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Cpp-projectV2.xcodeproj/xcuserdata/jewonoh.xcuserdatad/xcschemes/Cpp-projectV2.xcscheme
Cpp-projectV2.xcodeproj/xcuserdata/jewonoh.xcuserdatad/xcschemes/xcschememanagement.plist
Cpp-projectV2.depend
Cpp-projectV2.layout
Cpp-projectV2.depend
Cpp-projectV2.layout
